



img{
    padding-top: 10px;
    border-radius: 50%;
    width: 15%
}
#myphoto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 10px;

    

    color: blueviolet
    
    
}
body{
    padding: 40px;
    
    
    background-color: rgb(235, 235, 235);

}



p{font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 2%
}
p::first-letter{
    font-size: 150%;
    color: rgb(138, 68, 68);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}